server:
  port: 8088
  tomcat:
    uri-encoding: UTF-8
  servlet.context-path: /reverce

spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active:
      - dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/reverce?serverTimezone=UTC
    username: root
    password: 123456
  jpa:
    database: MYSQL
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQL5Dialect

mybatis-plus:
  # 配置扫描xml
  mapper-locations:
    classpath:mapper/*.xml
  # 实体扫描，多个package用逗号或者分号分隔
  type-aliases-package: com.zlx.reverce.entity
  global-config:
    # 逻辑删除配置
    logic-delete-value: 0
    logic-not-delete-value: 1
#    sql-injector: com.baomidou.mybatisplus.mapper.LogicSqlInjector

swagger:
  enabled: true
  title: api
  description: desc for swagger2
  license: Apache License, Version 2.0
  license-url: https://www.apache.org/licenses/LICENSE-2.0.html
  terms-of-service-url: https://github.com/pbw123/spring-boot-demo
  contact:
    name: zlx
    url: 123
    email: 1170762202@qq.com
  base-package: com.zlx.reverce.controller
  base-path: /**
  exclude-path: /error, /ops/**
